@import 'src/styles/typography';
@import 'src/styles/helpers';
@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/paddings';

.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include mobile {
    display: grid;
    grid-template-areas:
      'A A'
      'B C';
    grid-template-columns: 1fr 1fr;
  }
}

.line {
  @include mobile {
    display: none;
  }
}

.lineMobile {
  display: block;

  @include mobile {
    display: block;
  }
}

.headingWrapper {
  flex-basis: size(551);
  margin-bottom: -1px;
  background-color: $gray900;

  @include mobile {
    flex-basis: unset;
    grid-area: A;
    width: 100%;
    padding-bottom: size($spacing48 + $spacing24 - 2);
  }
}

.heading {
  min-height: size(425);
  padding: size($spacing32 - 5) size($spacing32) size($spacing32);

  @include mobile {
    min-height: unset;
    padding: size($spacing24 - 8) size($spacing12) size($spacing24);
  }
}

.headingIcons {
  @include mobile {
    margin-top: size($spacing48 + 8);
    gap: size($spacing12);
  }
}

.contentWrapper {
  position: relative;
  flex-basis: size(267);
  background-color: $gray900;
  margin-bottom: -1px;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    flex-basis: unset;
    width: 100%;
    margin-right: -1px;
    margin-left: -1px;
  }
}

.contentWrapperLeft {
  composes: contentWrapper;
  margin-top: size(2);

  @include mobile {
    grid-area: B;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contentWrapperRight {
  composes: contentWrapper;
  margin-top: size(92);

  @include mobile {
    grid-area: C;
    margin-top: 0;
    padding-top: size(36);
    margin-bottom: 0;
  }
}

.text {
  @include paragraph;
  padding: size($spacing32 - 3) size($spacing32) size($spacing32 + 15);

  &.bigBottomPadding {
    padding-bottom: size($spacing32 + 63);
  }

  @include mobile {
    padding: 0 size($spacing12) size($spacing12 + 3) size($spacing12 + 1);

    &.bigBottomPadding {
      padding-bottom: size($spacing12 + 3);
    }
  }
}

.devnet {
  padding-left: 0.5ch;
}
