@import 'src/styles/typography';
@import 'src/styles/helpers';
@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/paddings';

.container {
  position: relative;
  display: flex;
  align-items: flex-start;
  width: 100%;

  @include mobile {
    display: grid;
    grid-template-areas:
      'A A'
      'B C';
    grid-template-columns: 1fr 1fr;
  }
}

.line {
  @include mobile {
    display: none;
  }
}

.lineMobile {
  display: block;

  @include mobile {
    display: block;
  }
}

.headingWrapper {
  width: size(544);
  margin-bottom: -1px;
  background-color: $gray900;

  @include mobile {
    grid-area: A;
    width: 100%;
    padding-bottom: size($spacing48 + $spacing24 + $spacing24);
  }
}

.heading {
  padding: size(30);

  @include mobile {
    padding: size(20) size(10);
  }
}

.contentWrapper {
  position: relative;
  width: size(272);
  background-color: $gray900;
  margin-bottom: -1px;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    width: 100%;
    margin-right: -1px;
    margin-left: -1px;
  }
}

.contentWrapperLeft {
  composes: contentWrapper;
  margin-top: size(2);

  @include mobile {
    grid-area: B;
    margin-top: 0;
    margin-bottom: 0;
  }
}

.contentWrapperRight {
  composes: contentWrapper;
  margin-top: size(92);

  @include mobile {
    grid-area: C;
    margin-top: 0;
    padding-top: size(50);
    margin-bottom: 0;
  }
}

.text {
  @include paragraph;
  padding: size($spacing32);

  @include mobile {
    padding: 0 size($spacing12) size($spacing12);
  }
}
