@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
  }
}

.heading {
  min-height: unset;

  padding: size($spacing32 - 11) size($spacing32 - 2) size($spacing32 + 8)
    size($spacing32);

  @include mobile {
    padding: size($spacing24 - 13) size($spacing12 + 10) size($spacing24 - 9)
      size($spacing12);

    p {
      margin-top: size($spacing24 * 2 + $spacing48 + 5);
      width: size(158);
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.heroDescription {
  padding: 0 size($spacing32) size($spacing32 + 3);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.heroDescription p {
  @include paragraph;
  max-width: size(247);
  background-color: $gray900;
}

.box {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.line {
  width: 50%;
}

.info {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    height: 2px;
    width: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  p {
    padding: size($spacing32);
    background-color: $gray900;

    @include paragraph;
  }

  @include mobile {
    margin-top: size(-79);

    p {
      padding: size($spacing12) 0 size($spacing12 + 3) size($spacing12);
    }
  }
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: inline-block;
    margin-right: size($spacing12);
  }
}
.right {
  display: grid;
  margin-top: size(297);
  grid-template-columns: size(275) size(259);

  @include mobile {
    width: 100%;
    margin-top: size(60);
    grid-template-columns: 1fr 1fr;
  }
}

.rectWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: $gray900;

  &:after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }
}

.rect {
  margin-top: size(295);

  @include mobile {
    margin-top: 0;
  }
}

.content {
  position: relative;
  display: grid;
  background-color: $gray900;
  grid-column: span 2;
  gap: size($spacing64 - 2);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    gap: size($spacing24 + 3);
  }
}

.card {
  display: grid;
  padding: size($spacing32 - 5) size($spacing32) size($spacing32 + 5);
  grid-template-columns: size(242) size(228);

  &.grey {
    color: $grey;
  }

  @include mobile {
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    gap: size($spacing8);
    padding: size($spacing32 - 4) size($spacing12) size($spacing32);
  }
}

.title {
  @include heading-03;
}

.desc {
  margin-top: size(2);
  white-space: pre-line;

  p {
    @include paragraph;

    &:not(:last-of-type) {
      margin-bottom: size($spacing32 - 8);

      @include mobile {
        margin-bottom: size($spacing32 - 10);
      }
    }
  }

  @include mobile {
    margin-top: size(1);
  }
}

.footer {
  @include mobile {
    // .wRect {
    //   margin: 0 size(-10);
    //   width: calc(100% + #{size(20)});
    // }
  }
}

.footerWrapper {
  display: flex;
  align-items: flex-start;
  padding: size($spacing32 - 5) size($spacing32) size($spacing32);
  gap: size($spacing32);

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    padding: size($spacing32 - 4) size($spacing12) size($spacing32 + 4);
    gap: size($spacing8);
  }
}

.socials {
  margin-top: size(5);
  display: flex;
  gap: size($spacing12);

  @include mobile {
    gap: size($spacing8);
    margin-top: size(7);
  }
}

.socialButton {
  @include mobile {
    width: size(40);
    height: size(40);
    padding: size($spacing8);
  }
}

.inTouch {
  flex-basis: size(211);

  @include heading-03;

  @include mobile {
    flex-basis: unset;
    // width: size(170);
  }
}
