@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
  }
}

.heading {
  min-height: unset;
}

.left {
  display: flex;
  flex-direction: column;
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.heroDescription {
  padding: 0 size($spacing32) size($spacing32);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.heroDescription p {
  @include paragraph;
  max-width: size(247);
  background-color: $gray900;
}

.box {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.line {
  width: 50%;
}

.info {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: -1px;
    right: 0px;
    height: 2px;
    width: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  p {
    padding: size($spacing32);
    background-color: $gray900;

    @include paragraph;
  }

  @include mobile {
    p {
      padding: size($spacing12);
    }
  }
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: inline-block;
    margin-right: size($spacing12);
  }
}
.right {
  display: grid;
  width: 50%;
  margin-top: size(265);
  grid-template-columns: 1fr 1fr;

  @include mobile {
    width: 100%;
    margin-top: size(60);
  }
}

.rectWrapper {
  position: relative;
  display: flex;
  align-items: flex-start;
  height: 100%;
  background-color: $gray900;

  &:after {
    content: '';
    position: absolute;
    right: 0px;
    bottom: -1px;
    height: 2px;
    width: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }
}

.rect {
  margin-top: size(270);

  @include mobile {
    margin-top: 0;
  }
}

.content {
  position: relative;
  display: grid;
  background-color: $gray900;
  grid-column: span 2;
  gap: size($spacing64);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    gap: size($spacing24);
  }
}

.card {
  display: grid;
  padding: size($spacing32);
  grid-template-columns: 1fr 1fr;

  &.grey {
    color: $grey;
  }

  @include mobile {
    padding: size($spacing32) size($spacing12);
  }
}

.title {
  @include heading-03;
}

.desc {
  p {
    @include paragraph;
    max-width: size(228);

    &:not(:last-of-type) {
      margin-bottom: size($spacing32);
    }
  }
}

.footer {
  @include mobile {
    // .wRect {
    //   margin: 0 size(-10);
    //   width: calc(100% + #{size(20)});
    // }
  }
}

.footerWrapper {
  display: flex;
  align-items: center;
  padding: size($spacing32);
  gap: size($spacing32);

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: size($spacing32) size($spacing12);
    gap: unset;
  }
}

.socials {
  display: flex;
  gap: size($spacing12);
}

.socialButton {
  @include mobile {
    width: size(40);
    height: size(40);
    padding: size($spacing8);
  }
}

.inTouch {
  width: size(190);

  @include heading-03;

  @include mobile {
    width: size(170);
  }
}
