@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  width: 100%;
  border: size(4) dashed $grey;
  color: $grey;

  @media (orientation: landscape) {
    margin-bottom: size($spacing32);
  }
}

.text {
  padding: size($spacing32);

  @include heading-01;

  @include mobile {
    padding: size($spacing24);

    @include heading-02;
  }
}
