@use '~styles/mixins' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/paddings' as *;

.wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: size(259) repeat(4, 1fr);
  width: 100%;
  margin-top: size($spacing96 + 96);

  @include mobile {
    margin-top: size($spacing24);
    grid-template-columns: 1fr;
  }
}

.joinNilRoot {
  margin-bottom: size(108);
}

.content {
  position: relative;
  background: url('/icons/dots.svg'), repeat;
  grid-column: span 4 / 6;
}

.whiteRectangleLine {
  & > div {
    &:nth-child(1),
    &:nth-child(2) {
      flex-basis: size(551 / 2);

      @include mobile {
        flex-basis: unset;
      }
    }

    &:nth-child(3) {
      flex-basis: size(275);

      @include mobile {
        flex-basis: unset;
      }
    }
    &:nth-child(4) {
      flex-basis: size(258);

      @include mobile {
        flex-basis: unset;
      }
    }
  }
}
