@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/typography' as *;
@use '~styles/paddings' as *;

.container {
  position: relative;
  background-color: $gray900;
  height: 126vh;
  min-height: size(848);

  @include mobile {
    min-height: unset;
    height: calc(100vh - #{size(30)});
    padding-top: 0;
    padding-bottom: size(20);
    margin-bottom: 0;
    box-sizing: content-box;
  }
}

.animatedContainer {
  display: grid;
  grid-template-columns:
    size(137.5) size(137.5) size(276) size(137.5) size(137.5)
    size(130) size(129);
  grid-template-rows: max(size(628), calc(get-real-vh(100) - size(46))) 1fr;
  width: 100%;
  margin-left: auto;

  @include mobile {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;
  }
}

.description {
  position: absolute;
  left: size($spacing32);
  bottom: min(calc(#{size($spacing24)} + 4vh), size($spacing64));
  width: size(226);

  @include mobile {
    display: none;
  }
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: block;
    position: absolute;
    top: size($spacing24);
    right: size($spacing8);
    left: unset;
    width: size(175);
  }
}

.animationWidget {
  @include mobile {
    display: none;
  }
}

.animationWidgetMobile {
  display: none;

  @include mobile {
    display: grid;
  }
}

.link {
  padding: 0 size(16);
  margin-bottom: size(28);
}

.underPatternLine {
  display: none;

  @include mobile {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
  }
}
