@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;
@use '~styles/typography' as *;

.root {
  position: fixed;
  z-index: 100;
  top: 0;
  width: 100%;
  height: size(30);
  color: $grey;

  @include mobile {
    width: 100vw;
    height: auto;
  }
}

.wrapper {
  display: grid;
  grid-template-columns: size(324) 1fr;
  padding: size($spacing12) size($spacing16);
  background-color: $gray-50;

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    padding: size(3) size($spacing12);
  }

  &_fixed {
    max-width: 1920px;
    padding: sizeMax1920($spacing12) sizeMax1920($spacing16);
    grid-template-columns: sizeMax1920(324) 1fr;
    margin: 0 auto;

    .square {
      width: sizeMax1920(12);
      height: sizeMax1920(12);
    }

    .box {
      gap: sizeMax1920($spacing24 + 3);
    }

    .btn {
      font-size: sizeMax1920(18);
    }

    .mainWrapper {
      gap: sizeMax1920($spacing24);
    }

    .logo {
      width: sizeMax1920(141.7);

      @include mobile {
        width: sizeMax1920(112);
      }
    }
  }
}

.mainWrapper {
  display: flex;

  gap: size($spacing24);
}

.logo {
  width: size(141.7);
  color: $gray900;

  @include mobile {
    width: size(112);
  }
}

.box {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: size($spacing24 + 3);

  @include mobile {
    display: none;
  }
}

.btn {
  display: flex;
  align-items: center;
  transition: color 0.3s ease;
  // font-size: size(18);

  @include main;

  line-height: size(22);

  @include mobile {
    display: none;
  }

  .square {
    width: size(12);
    height: size(12);
    margin-right: size($spacing12);
    background-color: transparent;
    transition: background-color 0.3s ease;
  }

  @include hover {
    color: $gray900;
    transition: color 0.3s ease;

    .square {
      background-color: $gray900;
      transition: background-color 0.3s ease;
    }
  }
}

.otherLink {
  transition: color 0.3s ease;

  @include hover {
    color: $gray900;
    transition: color 0.3s ease;
  }
}

.isActive {
  color: $gray900;

  .square {
    background-color: $gray900;
  }
}

.buttonsWrapper {
  position: relative;
  grid-column: 5;
}

.burgerBtn {
  position: absolute;
  top: 0;
  right: 0;
  width: size(14);
  height: size(14);
  overflow: auto;
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.isBurgerOpen {
  opacity: 1;
}

.hidden {
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  touch-action: none;
  -ms-touch-action: none;
}