@use '~styles/helpers' as *;
@use '~styles/typography' as *;

.sponsors {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: size(80);

    @media screen and (max-width: 768px) {
        overflow-x: hidden;
    }

    &__title {
        color: var(--Gray-pallete-gray-200, #BDBDBD);
        text-align: center;
        @include new-paragraph;
        margin-bottom: size(40);
    }

    &__container {
        @media screen and (max-width: 768px) {
            overflow: hidden;
            width: 100%;
            padding: 0;
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 5vw;
        justify-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            flex-wrap: nowrap;
            margin-bottom: 100px;
            position: relative;
            justify-content: flex-start;
            animation: scroll 10s linear infinite;
            width: max-content;

            &:hover {
                animation-play-state: paused;
            }
        }
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }

        100% {
            transform: translateX(-50%);
        }
    }

    &__item {
        width: auto;
        min-width: 200px;

        img {
            width: size(190);
            height: size(82);
        }

        text-align: center;
        display: flex;
        justify-content: space-around;

        @media screen and (max-width: 768px) {
            min-width: 80px;
        }
    }

    &__img {
        width: size(190);
        height: size(82);
        // make background cover the whole div
        background-size: contain;
        // make background image stay in the center
        background-position: center;
        // make background image not repeat
        background-repeat: no-repeat;

        @media screen and (max-width: 768px) {
            width: size(120);
            height: size(60);
            background-size: cover;
        }

        &.bcap {
            @media screen and (max-width: 768px) {
                background-size: contain
            }
        }
    }

}