@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.container {
  position: relative;
  display: flex;
  width: 100%;

  @include mobile {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

.line {
  @include mobile {
    display: none;
  }
}

.lineMobile {
  display: none;

  @include mobile {
    display: block;
  }
}

.headingWrapper {
  width: size(544);
  margin-bottom: -1px;

  @include mobile {
    width: 100%;
    background-color: $gray900;
    padding-bottom: size(58);
  }
}

.heading {
  padding: size($spacing32 - 11) size($spacing32) size($spacing32);

  @include mobile {
    padding: size($spacing24 - 8) size($spacing12) size($spacing24);
  }
}

.headingIcons {
  @include mobile {
    margin-top: size($spacing48 + 8);
  }
}

.contentWrapper {
  position: relative;
  margin-bottom: auto;
  background-color: $gray900;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    width: calc(50% + 2px);
    margin-right: -1px;
    margin-left: -1px;
  }
}

.contentWrapperLeft {
  composes: contentWrapper;
  flex-basis: size(275);
  margin-top: size(206);

  & > .text {
    margin-bottom: size(64);

    @include mobile {
      margin-bottom: size(3);
    }
  }

  @include mobile {
    flex-basis: unset;
    padding-bottom: 0;
    margin-top: 0;
  }
}

.contentWrapperRight {
  composes: contentWrapper;
  flex-basis: size(259);
  margin-top: size(236);

  @include mobile {
    flex-basis: unset;
    margin-top: 0;
    padding-top: size(36);
    margin-bottom: auto;
  }
}

.text {
  padding: size($spacing32 - 3) size($spacing32) size($spacing32 - 1);

  @include paragraph;

  @include mobile {
    padding: size($spacing12) size($spacing12) size($spacing12)
      size($spacing12 + 1);
  }
}

.textRight {
  max-width: size(260);

  @include mobile {
    max-width: unset;
  }
}

.bottomLine {
  margin-top: size($spacing24 - 8);

  @include mobile {
    margin-top: size(3);
  }
}
