@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  margin-top: size(150);

  @include mobile {
    margin-top: 0;
  }
}

.content {
  position: relative;
  background-color: $gray900;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    padding-top: size($spacing24);
  }
}

.box {
  padding: size($spacing32);

  &:not(:last-of-type) {
    margin-bottom: size($spacing16);

    @include mobile {
      margin-bottom: unset;
    }
  }

  &:last-of-type {
    padding: 0 size($spacing32) size($spacing32);

    @include mobile {
      padding: size($spacing24) size($spacing12);
    }
  }

  @include mobile {
    padding: size($spacing24) size($spacing12);
  }
}

.title {
  margin-bottom: size($spacing24);

  @include heading-03;

  @include mobile {
    max-width: size(291);
    margin-bottom: size($spacing24);
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: size($spacing32);

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: size($spacing24);
  }
}

.item {
  @include mobile {
    width: 100%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  padding-top: size(104);
  padding-bottom: size(24);
  background-color: $gray900;

  @include mobile {
    padding-top: size(58);
    padding-bottom: size(10);
  }
}
