@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: size(216);
}

.title {
  display: flex;
  align-items: flex-start;

  &::before {
    display: block;
    flex-shrink: 0;
    width: size(8);
    height: size(8);
    margin: size(4) size($spacing16) 0 0;
    content: '';
    background-color: $gray-50;

    @include mobile {
      margin: size($spacing4) size($spacing8) 0 0;
    }
  }

  @include paragraph;
}

.description {
  margin: size($spacing8) 0 0 size($spacing24);
  color: $grey;

  @include sm-paragraph;

  @include mobile {
    margin: size($spacing8) 0 0 size($spacing16);
  }
}
