@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;
  width: 100%;
  padding: size($spacing32);

  @include mobile {
    padding: size($spacing24) size($spacing12);
  }

  &:last-of-type {
    @include mobile {
      margin-bottom: size($spacing64);
    }
  }
}

.leftPath {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.title {
  margin-bottom: size($spacing48);

  @include heading-03;

  @include mobile {
    margin-bottom: size($spacing24);
  }
}

.icon {
  width: size(80);
  height: size(80);
}

.description {
  width: 50%;

  @include paragraph;
}
