@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;
  margin-bottom: size(-1);

  @include mobile {
    margin-bottom: unset;
    flex-direction: column;
  }
}

.right {
  position: relative;

  margin-top: size(39);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin-top: 0;
  }
}

.rightHeader {
  display: flex;

  & > div:nth-child(1) {
    flex-basis: size(276);
  }
  & > div:nth-child(2) {
    flex-basis: size(258);
    margin-top: size(30);
  }

  & > div {
    background-color: $gray900;
  }
}

.rightFooter {
  display: flex;

  & > div {
    height: 100%;
    background-color: $gray900;

    &:nth-child(1) {
      flex-basis: size(275);
    }

    &:nth-child(2) {
      flex-basis: size(259);
    }
  }

  @include mobile {
    & > div {
      &:nth-child(1) {
        flex-basis: 50%;
      }

      &:nth-child(2) {
        flex-basis: 50%;
      }
    }
  }
}

.link {
  margin-bottom: size($spacing16);
}

.heading {
  min-height: size(424);
  padding: size($spacing32 - 11) size($spacing32) size($spacing32 + 4)
    size($spacing32);

  @include mobile {
    min-height: unset;
    padding: size($spacing24 - 8) size($spacing12) size($spacing24);
  }
}

.headingIcons {
  @include mobile {
    margin-top: size($spacing48 + 8);
  }
}

.description {
  padding: size($spacing32 - 5) size($spacing32) size($spacing64 + 5);
  background-color: $gray900;

  @include heading-03;

  @include mobile {
    margin-bottom: 0;
    padding: size($spacing24 + $spacing48 - 4) size($spacing12)
      size($spacing24 + 4);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonWrapper {
  padding: size($spacing16 + $spacing12) size($spacing16 + 6) size($spacing16)
    size($spacing16);

  @include mobile {
    padding: size($spacing16 + $spacing12) size($spacing16) size($spacing16)
      size($spacing16);
  }
}

.button {
  padding-top: size(104);
  padding-bottom: size(24);
  background-color: $gray900;

  @include mobile {
    padding-top: size(58);
    padding-bottom: size(10);
  }
}
