@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  display: block;
  padding: size($spacing32);

  svg {
    width: size(14);
    height: size(14);
    top: size(31);
    right: size(34);

    @include mobile {
      top: size(30);
      right: size(26);
    }
  }

  @include mobile {
    width: size(240);
  }
}

.title {
  margin: 0 size($spacing32 + 20) size($spacing16) 0;
  color: $gray-50;

  transition: color 0.3s;

  @include heading-03;

  @include mobile {
    width: size(230);
  }
}

.description {
  @include paragraph;
}

.arrow {
  position: absolute;
  top: size(30);
  right: size(30);
  width: size(12);
  height: size(12);
  transform: rotate(45deg);

  path {
    transition: fill 0.3s;
  }

  @include mobile {
    top: size(22);
    right: 0;
  }
}
