@use '~styles/helpers' as *;

.button {
    display: inline-block;
    padding: size(12) size(24);
    justify-content: center;
    align-items: center;

    border-radius: size(8);
    background: var(--Buttons-Button-gray-800, #2F2F2F);
    color: var(--Buttons-Button-gray-200, #BDBDBD);

    &_primary {
        background: var(--button-primary-default-bgcolor, #F1F1F1);
        color: var(--button-primary-default-textcolor, #212121);

        .arrow {
            rect {
                fill: var(--button-primary-default-textcolor, #212121);
            }

        }

        &.button_disabled {
            background: var(--Buttons-Button-gray-800, #2F2F2F);
            color: transparent;
        }
    }


}

.wrap {
    font-size: size(16);
    line-height: size(18);
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.wrap_arrow {
    padding-right: size(8 + 20);
}

.endEnhancer {
    display: inline-block;
    position: relative;
}

.endEnhancer rect {

    fill: var(--Buttons-Button-gray-200, #BDBDBD);
}

.arrow {
    position: absolute;
    height: size(24);
    width: size(24);
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    rect {
        fill: var(--Buttons-Button-gray-200, #BDBDBD);
    }
}