@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  margin-bottom: size(191);

  @include mobile {
    flex-direction: column;

    margin-bottom: 0;

    padding-bottom: size(70);
  }
}

.right {
  margin-top: size(130);

  @include mobile {
    width: 100%;
    margin-top: 0;
  }
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  background-color: $gray900;

  padding-bottom: size($spacing32);

  @include mobile {
    padding-top: size(40);
  }
}

.contentFooterWrapper {
  background-color: $gray900;
  padding: size($spacing32 - 4) size($spacing32) size($spacing64 + 3);

  @include mobile {
    padding: size($spacing32 + 8) size($spacing16) size($spacing32 + 3)
      size($spacing16);
  }
}

.contentFooter {
  @include paragraph;
}

.box {
  padding: size($spacing32);

  &:not(:last-of-type) {
    margin-bottom: size(20);
  }

  @include paragraph;

  @include mobile {
    padding: size(20) size(10);

    &:not(:last-of-type) {
      margin-bottom: size(10);
    }
  }
}

.icon {
  width: size(80);
  height: size(80);
  margin-bottom: size($spacing48 - 3);

  @include mobile {
    margin-bottom: size(32);
  }
}

.title {
  margin-bottom: size($spacing8);
  padding: 0;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading {
  min-height: unset;

  padding-top: size(calc($spacing32 - 10));

  padding-bottom: size(calc($spacing32 + 4));

  p {
    @include heading3NoMobile;

    margin-top: size($spacing64 + 9);

    max-width: initial;
  }

  @include mobile {
    padding-top: size($spacing32 - 16);

    padding-left: size($spacing12 - 1);

    p {
      margin-top: size($spacing48 + 3);
    }

    h2 {
      width: size(271);
    }
  }
}

.description {
  @include mobile {
    width: auto;
  }
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: size(30);
  gap: size(36);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  margin-top: size(-1);
}

.buttonWrapper {
  padding: size($spacing12 + 28) size($spacing16)
    size(calc($spacing12 + $spacing24 + 4));

  background-color: $gray900;

  @include mobile {
    padding: size($spacing12) size($spacing16) size($spacing12 + $spacing24 + 4);
  }
}

.button {
  background-color: $gray900;
}

.rightHeader {
  display: flex;

  & > div {
    flex-basis: 50%;
    background-color: $gray900;
  }

  & > div:nth-child(2) {
    margin-top: size(30);
  }
}

.image {
  flex-grow: 1;

  @include mobile {
    margin-top: size(13);
  }
}

.imageBlock {
  display: flex;

  gap: size(16);

  padding: size(32) size(18) size(32) size(18);

  background-color: $gray900;

  @include mobile {
    padding: size(10) size(12) size(11) size(13);
    gap: size(10);
  }
}

.icon {
  flex: 0 0 size(80);

  @include mobile {
    width: size(54);
    flex: 0 0 size(54);
  }
}
