@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  margin-bottom: size(30);

  @include mobile {
    flex-direction: column;

    margin-bottom: 0;
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  margin-top: size(228);

  @include mobile {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  background-color: $gray900;
  padding-bottom: size($spacing64);

  @include mobile {
    padding-bottom: size($spacing12);
    padding-top: size($spacing48);
  }
}

.box {
  padding: size($spacing32);
  width: 50%;

  @include paragraph;

  @include mobile {
    padding: size($spacing12);
  }
}

.icon {
  width: size(80);
  height: size(80);
  margin-bottom: size($spacing48);

  @include mobile {
    margin-bottom: size($spacing16);
  }
}

.title {
  width: min-content;
  margin-bottom: size($spacing8);
  padding: 0;
  gap: size($spacing8);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  color: $grey;
}

.list {
  display: flex;
  flex-wrap: wrap;
  padding-top: size(30);
  gap: size(36);
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.buttonBlock {
  padding: size($spacing12) size($spacing16) size($spacing12 + $spacing24 + 4);
  background-color: $gray900;
}
