@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  display: flex;
  align-items: flex-start;
  padding-bottom: size(162);
  z-index: 2;

  @include mobile {
    flex-direction: column;
    padding-bottom: size(60);
    margin-top: 0;
  }
}

.heading {
  min-height: size(332);
  padding-bottom: 0;

  @include mobile {
    padding: size($spacing24 - 8) size($spacing12) 0;

    min-height: unset;

    p {
      display: none;
    }
  }
}

.left {
  display: flex;
  flex-direction: column;
}

.box {
  display: flex;
  align-items: flex-start;
  width: 100%;
}

.heroDescription {
  padding: 0 size($spacing32) size($spacing32 + 3);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.heroDescription p {
  @include paragraph;
  max-width: size(220);
  background-color: $gray900;
}

.line {
  width: 50%;
}

.info {
  background-color: $gray900;

  p {
    @include paragraph;
    padding: 0 size($spacing32) size($spacing32 + 3);
    margin-top: size(-3);
  }

  @include mobile {
    display: flex;
    align-items: flex-start;
    padding: size($spacing48 + 8) size($spacing12) 0;

    p {
      width: 100%;
      padding: 0;
    }
  }
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: inline-block;
    margin-right: size($spacing8);
  }
}

.right {
  display: flex;
  flex-direction: column;
  padding-top: size($spacing32);
  background-color: $gray900;

  @include mobile {
    padding-top: size($spacing32);
  }
}

.lottieWrapper {
  width: 100%;
  height: size(710);

  @include mobile {
    height: size(470);
  }
}

.list {
  padding: size($spacing32);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: size($spacing32) size($spacing32);
  margin-bottom: size($spacing32);

  @include mobile {
    gap: size($spacing24) 0;
    padding: size($spacing48) size($spacing12) size($spacing24);
    margin-bottom: size($spacing24 + 3);
  }
}

.item {
  @include mobile {
    width: 100%;
  }
}

.itemTitle {
  &::before {
    margin-top: size(5);
  }
}
