@import 'src/styles/typography';
@import 'src/styles/helpers';
@import 'src/styles/colors';
@import 'src/styles/mixins';
@import 'src/styles/paddings';

.container {
  position: relative;
  background-color: $gray900;
  height: 126vh;
  min-height: size(848);

  @include mobile {
    height: calc(100vh - #{size(35)});
    min-height: size(476);
    margin-top: size($spacing24 + 11);
    padding-bottom: size(20);

    margin-bottom: 0;
    box-sizing: content-box;
  }
}

.animatedContainer {
  display: grid;
  grid-template-columns: size(137.5) size(137.5) size(551) size(130) size(129);
  grid-template-rows: max(size(628), calc(get-real-vh(100) - size(46))) 1fr;
  width: 100%;
  margin-left: auto;

  @include mobile {
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: auto;
    height: 100%;
  }
}

.description {
  position: absolute;
  bottom: size($spacing32 + 36);
  width: 100%;

  padding: 0 size($spacing32);

  p {
    @include heading-04;
    line-height: size(27);
  }

  @include mobile {
    display: none;
  }
}

.sideNavigationContainer {
  @include mobile {
    top: 0;
  }
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: block;
    position: absolute;
    top: size(5);
    right: size(6);
    left: unset;
    width: size(169);
  }
}

.animationWidget {
  @include mobile {
    display: none;
  }
}

.buttonWrapper {
  padding: 0 size($spacing16) size($spacing24 + 5);

  @include mobile {
    padding: 0 size($spacing16);
  }
}

.link {
  margin-bottom: size(39);
}

.animationWidgetMobile {
  display: none;

  @include mobile {
    display: grid;

    // grid-template-rows: 35% 65%;
  }
}

.underPatternLine {
  display: none;

  @include mobile {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
  }
}
