@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/typography' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;

  @include mobile {
    flex-direction: column;
    margin-bottom: size(60);
  }
}

.right {
  margin-top: size(284);

  @include mobile {
    margin-top: 0;
  }
}

.content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding: size($spacing32) size($spacing32) size($spacing64);
  background-color: $gray900;
  gap: size($spacing32);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: size($spacing48 + $spacing24) size($spacing12) size($spacing24 + 3);
    gap: size($spacing8) size($spacing12);
  }
}

.heading {
  min-height: unset;

  padding: size($spacing32 - 10) size($spacing32) size($spacing32 + 2)
    size($spacing32);

  p {
    margin-top: size($spacing32 + 8);
  }

  @include mobile {
    padding: size($spacing24 - 8) size($spacing12) size($spacing24);

    p {
      margin-top: size($spacing48 + 5);
    }
  }
}

.item {
  p {
    @include paragraph;
  }

  @include mobile {
    width: 100%;
  }
}

.footer {
  display: grid;
  grid-template-columns: size(276) size(258);

  @include mobile {
    grid-auto-flow: dense;
    direction: rtl;
    grid-template-columns: 1fr 1fr;
  }
}

.buttonBlock {
  padding: size($spacing12) size($spacing16) size($spacing24 + 16);
  background-color: $gray900;
  direction: ltr;

  @include mobile {
    padding: size($spacing12 + 39) size($spacing12) size($spacing12 - 1);
  }
}
