@use '~styles/typography' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: size(420);
  padding: size($spacing32);
  background-color: $gray900;
  word-break: break-word;

  &:before {
    content: '';
    position: absolute;
    top: 0px;
    left: -1px;
    width: 4px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    position: static;
    min-height: auto;
    padding: size($spacing24) size($spacing12);
  }
}

.title {
  @include heading-01;
}

.description {
  width: 100%;
  margin-top: size($spacing32);
  word-break: break-word;

  @include paragraph;

  @include mobile {
    width: 50%;
    margin-top: size($spacing48);
  }
}

.icons {
  display: flex;
  flex-wrap: wrap;
  gap: size($spacing12);

  @include mobile {
    gap: size($spacing8);
    margin-top: size($spacing48);
  }
}
