@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: grid;
  margin-top: size(81);
  margin-bottom: size(508);
  grid-template-columns: 1fr 1fr;

  @include mobile {
    grid-template-columns: 1fr;
    margin-top: size(60);
    margin-bottom: size(60);
  }
}

.left {
  max-height: size(480);
}

.title {
  @include mobile {
    padding: size($spacing24) size($spacing12);
  }
}

.right {
  margin-top: size(180);

  @include mobile {
    margin-top: unset;
  }
}

.content {
  background-color: $gray900;
  padding: size($spacing32) 0;

  @include mobile {
    width: 100vw;
    padding: size($spacing48) 0 0;
  }
}

.box {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 size($spacing32);
  grid-gap: size($spacing12);

  @include mobile {
    padding: 0 size($spacing12);
  }
}

.imageWrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: size(180);

  img {
    object-fit: contain;
  }

  @include mobile {
    height: size(110);
  }
}
