@use '~styles/mixins' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/paddings' as *;

.wrapper {
  position: relative;
  z-index: 1;
  display: grid;
  grid-template-columns: size(259) repeat(4, 1fr);
  width: 100%;
  margin-top: size($spacing48);

  @include mobile {
    grid-template-columns: 1fr;
    margin-top: unset;
  }
}

.content {
  position: relative;
  background: url('/icons/dots.svg'), repeat;
  grid-column: span 4 / 6;
}

.sideNavigation {
  @include mobile {
    display: none;
  }
}
