@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.wrapper {
  display: flex;
}

.head {
  min-height: unset;

  padding: size($spacing32 - 11) size($spacing32) size($spacing32 + 9);

  @include mobile {
    width: 100%;
    padding: size($spacing24 - 13) size($spacing12) size($spacing24 - 9);

    p {
      margin-top: size($spacing96 + 5);
    }
  }
}

.main {
  @include mobile {
    height: max-content;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    margin-bottom: size(60);
  }
}

.linkContainer {
  padding: size($spacing12) size($spacing16) size($spacing32 + 6);
  background-color: $gray900;
}

.heroDescription {
  padding: 0 size($spacing32) size($spacing32 - 2);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.heroDescription p {
  @include paragraph;
  max-width: size(219);
  background-color: $gray900;
}

.box {
  background-color: $gray900;
}

.box1 {
  width: size(275);
  margin-top: size(258);
}

.box2 {
  width: size(259);
  margin-top: size(564);
}
