@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.wrapper {
  display: flex;
}

.head {
  min-height: unset;
  @include mobile {
    width: 100%;
    padding: size($spacing24) size($spacing12);

    p {
      margin-top: size($spacing96);
    }
  }
}

.main {
  @include mobile {
    height: max-content;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    margin-bottom: size(60);
  }
}

.linkContainer {
  padding: size($spacing12) size($spacing16) size(36);
  background-color: $gray900;
}

.heroDescription {
  padding: 0 size($spacing32) size($spacing32);
  background-color: $gray900;

  @include mobile {
    display: none;
  }
}

.heroDescription p {
  @include paragraph;
  max-width: size(219);
  background-color: $gray900;
}

.text {
  background-color: $gray900;
  padding: 0 size(30) size(30);

  @include paragraph;

  @include mobile {
    padding: 0 size(10) size(10);
    margin-top: size(-20);
  }
}

.box {
  width: size(269);
  background-color: $gray900;
}

.box1 {
  margin-top: size(265);
  height: size(325);
}

.box2 {
  margin-top: size(560);
}
