@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;

.root {
  display: flex;

  margin-top: var(--margin-top);
}

.rectangle {
  flex-grow: 1;
  background-color: $gray900;

  margin-top: size(var(--line-margin));
}
