@use '~styles/mixins' as *;
@use '~styles/helpers' as *;
@use '~styles/colors' as *;

.wrapper {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  margin-top: size(20);

  @include mobile {
    grid-template-columns: 1fr;
  }
}

.content {
  position: relative;
  background: url('/icons/dots.svg'), repeat;
  grid-column: span 4 / 6;

  @include mobile {
    grid-column: unset;
  }
}

.sideNavigation {
  @include mobile {
    display: none;
  }
}

.footer {
  & > article {
    grid-template-columns: repeat(4, 1fr);
  }
}
