@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  margin-bottom: size(319);

  @include mobile {
    flex-direction: column;
    margin-bottom: size(60);
  }
}

.head {
  padding: size($spacing32 - 11) size($spacing32) size($spacing32);

  @include mobile {
    padding: size($spacing24 - 8) size($spacing12 + 73) size($spacing24)
      size($spacing12);
    min-height: auto;
  }
}

.left {
  max-height: size(480);
  margin-top: size(48);

  @include mobile {
    margin-top: 0;
  }
}

.right {
  position: relative;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin-top: 0;
  }
}

.title {
  padding: size($spacing32 - 5) size(150) size(136) size($spacing32);
  background-color: $gray900;
  word-break: break-word;

  @include heading-03;

  @include mobile {
    min-height: auto;
    padding: size($spacing48 + $spacing24 + 4) size($spacing12)
      size($spacing24 + 4);
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;

  @include mobile {
    direction: rtl;
  }
}

.buttonBlock {
  padding: size($spacing16 + $spacing12) size($spacing16)
    size($spacing16 + $spacing12 + 4);
  background-color: $gray900;

  @include mobile {
    padding: size($spacing12 + 39) size($spacing12) size($spacing12 - 1);
    direction: ltr;
  }
}

.button {
  @include mobile {
    font-size: size(12);
    letter-spacing: -0.36px;
  }
}
