@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;
  margin-top: size(114);

  @include mobile {
    flex-direction: column;
    margin-top: size(60);
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  position: relative;
  margin-top: size(180);
  background-color: $gray900;

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin-top: 0;
    padding-top: size($spacing48 + $spacing24 - 11);
  }
}

.box {
  display: flex;
  gap: size(30);

  &:not(:last-child) {
    margin-bottom: size(20);
  }

  @include mobile {
    gap: size(20);
    padding: 0 size(10);
  }
}

.linkCard {
  @include mobile {
    width: 100%;
  }
}

.content {
  display: flex;
  flex-direction: column;

  gap: size($spacing32);

  padding: size($spacing32) 0 size($spacing32) size($spacing32);

  align-items: stretch;

  @include mobile {
    padding: 0 size($spacing12);
  }
}
