@use '~styles/typography' as *;
@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/colors' as *;
@use '~styles/paddings' as *;

.container {
  position: relative;
}

.root {
  display: grid;
  grid-template-columns: size(259) 1fr;

  column-gap: size($spacing16);

  @include mobile {
    column-gap: unset;
    display: flex;
    justify-content: center;
  }
}

.sideNavigation {
  left: size($spacing48);

  width: size(259);

  @include mobile {
    display: none;
  }
}

.linkWrapper {
  width: size(259);
}

.sideNavigationInner {
  position: absolute;
  left: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding-top: size($spacing32);
  padding-bottom: size($spacing24);
}

.buttonsWrapper {
  display: flex;
  flex-direction: column;

  @include mobile {
    flex-direction: row;
    padding-bottom: size($spacing12);
    width: max-content;
  }
}

.filterButtons {
  transition: color 0.3s ease-in-out;
  color: $grey;

  &:not(:last-child) {
    margin-bottom: size($spacing16);
  }

  @include heading-03;

  @include hover {
    color: $white;
  }

  @include mobile {
    &:not(:last-child) {
      margin-bottom: 0;
      margin-right: size($spacing24);
    }
  }
}

.activeButton {
  color: $white;
}

.mobileSortButtons {
  margin-top: size(50);

  @include mobile {
    margin-top: size($spacing48);
    padding-left: size($spacing12);
  }
}

.scrollWrapper {
  padding-right: size($spacing12);
  overflow: auto;

  &::-webkit-scrollbar {
    display: none;
  }
}

.tags {
  display: flex;
  flex-wrap: wrap;
  margin: size($spacing24) size($spacing24) size($spacing24 + 54) 0;
  gap: size($spacing16);

  @include mobile {
    gap: size($spacing24);
    flex-wrap: nowrap;
    width: max-content;
    margin: size($spacing24) 0 0;
  }
}

.inner {
  display: flex;
  flex-direction: column;
  grid-column: 2 / 2;
  min-height: 100vh;

  @include mobile {
    width: 100%;
    grid-column: unset;
  }
}

.content {
  display: flex;
  flex-direction: column;
  padding-bottom: size($spacing32);

  @include mobile {
    padding: 0 size($spacing12) size($spacing24);
    width: 100%;
  }
}

.centeredItems {
  align-items: center;
}

.pageHead {
  display: flex;
  margin-bottom: size($spacing96);

  @include mobile {
    flex-direction: column;
    margin-bottom: size($spacing24);
  }
}

.headItem {
  width: 50%;
  padding: size($spacing32);

  @include mobile {
    width: 100%;
    padding: 0 size($spacing12) size($spacing12);
  }
}

.pageTitle {
  @include heading-01;
  padding: size($spacing32);

  @include mobile {
    padding: size($spacing24) size($spacing12);
  }
}

.pageDescription {
  @include heading-03;
}

.featurePost {
  margin-bottom: size($spacing32);
}

.lastSectionRectangle {
  @include mobile {
    width: 100vw;
    margin-left: size(-10);
  }
}

.lastSectionBackground {
  @include mobile {
    width: 100vw;
    margin-left: size(-10);
  }
}

.footerSection {
  article {
    height: size(492);

    grid-template-columns: repeat(4, 1fr);
  }

  @include mobile {
    article {
      height: size(180);

      grid-template-columns: repeat(2, 1fr);
    }
  }
}
