@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/colors' as *;
@use '~styles/paddings' as *;

.root {
  position: fixed;
  top: size(60);
  left: 0;
  height: get-real-vh(100);
  width: 100%;
  z-index: -1;
  background-color: $gray-50;
  justify-content: space-between;
  transform: translateY(calc(-150% - size(30)));
  transition: transform 1s ease;

  @include mobile {
    @media (orientation: landscape) {
      overflow: scroll;
      transform: translateY(calc(-250% - size(30)));
    }
  }
}

.burgerOpen {
  transform: translateY(size(-40));
}

.links {
  display: flex;
  flex-direction: column;
}

.head {
  padding: size($spacing48) 0 size($spacing48) size($spacing32);
}

.mainLink {
  &:not(:last-child) {
    margin-bottom: size($spacing24);
  }

  @include heading-02;

  @include mobile {
    font-size: size(30);
    line-height: size(30);

    @include glob-font-style;
  }
}

.activeLink {
  position: relative;
  color: $gray900;

  &::before {
    position: absolute;
    display: block;
    flex-shrink: 0;
    top: 30%;
    left: size(-$spacing24);
    width: size(8);
    height: size(8);
    content: '';
    background-color: $gray900;
  }
}

.right {
  padding: 0 size($spacing12) size($spacing32);
}

.link {
  &:not(:last-child) {
    margin-bottom: size($spacing24);
  }

  @include button-small;
}
