@import 'styles/typography';
@import 'styles/helpers';
@import 'styles/colors';
@import 'styles/mixins';
@import 'styles/paddings';

.container {
  position: relative;

  .sideNavigation {
    left: size($spacing48);
    overflow: hidden;

    aside {
      overflow: hidden;
    }

    @include mobile {
      display: none;
    }
  }
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 4fr;
  padding-top: size($spacing32);

  @include mobile {
    padding: size($spacing24) size($spacing12) 0;
    display: flex;
    flex-direction: column;
    min-height: unset;
  }
}

.contentWrapper {
  grid-area: 2 / 2;
  min-height: 100vh;

  @include mobile {
    min-height: unset;
  }
}

.titleWrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-bottom: size($spacing48);

  @include mobile {
    grid-template-columns: 100%;
    grid-row-gap: size($spacing24);
    padding-bottom: size($spacing12);
  }
}

.title {
  @include heading-01;
  padding: 0 size($spacing32) size($spacing32);

  @include mobile {
    padding: 0;
    max-width: 100%;
  }
}

.description {
  @include heading-03;
  padding: 0 size($spacing32) size($spacing32);

  @include mobile {
    padding: 0;
    max-width: 100%;
  }
}

.tagsWrapper {
  display: none;

  &::-webkit-scrollbar {
    display: none;
  }

  @include mobile {
    display: block;
    position: sticky;
    width: 100%;
    overflow: auto;
    margin-bottom: size($spacing24);
    background-color: $gray900;
    z-index: 2;
  }
}

.tagList {
  display: flex;
  flex-wrap: wrap;
  grid-gap: size($spacing16);
  width: 100%;
  padding: 0;
  margin-bottom: size($spacing24);

  @include mobile {
    flex-wrap: nowrap;
    overflow-x: auto;
    margin-bottom: 0;
    background-color: $gray900;
  }
}

.tabItem {
  display: flex;
}

.footerSection {
  @include mobile {
    display: none;
  }
}

.lastSection {
  display: none;

  @include mobile {
    display: block;
    overflow: hidden;
  }
}

.lastSectionWrapper {
  width: calc(100% + 4px);
  margin-left: -2px;
  margin-right: -2px;
}
