@use '~styles/helpers' as *;
@use '~styles/mixins' as *;
@use '~styles/colors' as *;
@use '~styles/paddings' as *;

.container {
  padding: 0;
}

.animatedContainer {
  display: grid;
  height: size(600);
  grid-template-columns: repeat(5, 1fr);

  @include mobile {
    height: size(170);
    grid-template-columns: 1fr 1fr;
  }
}

.buttonBlock {
  padding: 0 size(16);
  margin-bottom: size(28);
}

.webButton {
  width: 100%;
  margin-bottom: size($spacing24);

  @include mobile {
    margin-bottom: size($spacing12);
  }
}
