@use '~styles/helpers' as *;
@use '~styles/colors' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.container {
  position: relative;
  background-color: $gray900;
  height: 126vh;
  min-height: size(848);

  @include mobile {
    height: calc(100vh - #{size(25)});
    min-height: size(486);
    padding-top: 0;
    padding-bottom: size(20);
    box-sizing: content-box;
    margin-bottom: 0;
  }
}

.sideNavigation {
  @include mobile {
    top: size(11);
  }
}

.animationWidget {
  @include mobile {
    display: none;
  }
}

.animationWidgetMobile {
  display: none;

  @include mobile {
    display: grid;
  }
}

.animatedContainer {
  display: grid;
  grid-template-columns: size(146) size(129) size(276) size(276) size(129) size(
      129
    );

  grid-template-rows: max(size(628), calc(get-real-vh(100) - size(46))) 1fr;
  width: 100%;
  margin-left: auto;

  @include mobile {
    grid-template-columns: 3fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    height: 100%;

    & > div {
      width: calc(100% + 0.5px);
    }
  }
}

.description {
  position: absolute;
  left: size($spacing32 + 1);
  right: size($spacing32);
  bottom: size($spacing32 + 34);

  @include mobile {
    display: none;
  }
}

.descriptionItem {
  margin-top: size($spacing16);
}

.descriptionMobile {
  display: none;

  @include mobile {
    display: block;
    position: absolute;
    top: size($spacing24 - 9);
    right: size($spacing8 - 3);
    left: unset;
    width: size(175);
  }
}

.underPatternLine {
  display: none;

  @include mobile {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    display: block;
  }
}

.buttonWrapper {
  padding: 0 size($spacing16) size($spacing24 + 5);
}

.link {
  margin-bottom: size(10);
}
