@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/colors' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  color: $gray-50;

  @include mobile {
    margin: size($spacing12);
  }

  @include sm-paragraph;
}

.head {
  display: flex;
  flex-direction: column;
  padding: size($spacing96) size($spacing48) size($spacing24);
  gap: size($spacing12);

  svg {
    height: size(180);
  }

  @include mobile {
    padding: 0 0 size($spacing24);

    svg {
      padding: 0 size($spacing12);
      height: size(50);
    }
  }
}

.wrapper {
  @include mobile {
    padding: 0 size($spacing12);
  }
}

.center {
  display: grid;
  padding-bottom: size($spacing48);
  grid-template-columns: repeat(5, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
  }
}

.linksWrapper {
  &:not(:last-of-type) {
    margin-bottom: size($spacing24);
  }

  .item {
    margin-bottom: size($spacing8);
    font-family: Inter, sans-serif;
    @include button-small;

    color: $buttonGray50;
    transition: color 0.15s ease;

    @include hover {
      color: $gray-200;
      cursor: pointer;
    }

    &:active {
      color: $gray-300;
    }

    &:focus {
      color: $gray-50;
    }
  }

  @include mobile {
    &:not(:last-of-type) {
      margin-bottom: size($spacing24);
    }
  }
}

.title {
  margin-bottom: size($spacing12);
  color: $secondary;
}

.socials {
  grid-column: span 2 / 4;
}

.socialWrapper {
  &:not(:last-of-type) {
    margin-bottom: size($spacing24);
  }
}

.icons {
  display: flex;
  gap: size($spacing12);

  @include mobile {
    flex-wrap: wrap;
  }
}

.address {
  grid-column: span 2;

  @include mobile {
    margin-top: size($spacing32);
  }
}

.addressWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: size($spacing32);

  @include mobile {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    gap: size($spacing16);
  }
}

.place {
  width: size(233);

  @include main;

  @include mobile {
    width: 100%;
  }
}

.bottom {
  position: relative;
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  @include mobile {
    grid-template-columns: repeat(2, 1fr);
    margin-bottom: size($spacing12);
  }
}

.copyright {
  grid-column: span 3;

  letter-spacing: size(-0.1);

  @include mobile {
    margin-bottom: size($spacing16);
  }
}

.creators {
  transition: opacity 0.3s ease;

  @include button-small;

  color: $buttonGray50;

  @include hover {
    opacity: 0.5;
  }
}

.arrow {
  position: absolute;
  right: 0;
  width: size(20);
  height: size(20);

  @include mobile {
    top: unset;
    bottom: 0;
    right: 0;
    width: size(18);
    height: size(18);
  }
}
