@use '~styles/colors' as *;
@use '~styles/helpers' as *;
@use '~styles/typography' as *;
@use '~styles/mixins' as *;
@use '~styles/paddings' as *;

.root {
  display: flex;
  align-items: flex-start;
  margin-bottom: size(129);

  @include mobile {
    flex-direction: column;
    margin-bottom: size(60);
  }
}

.left,
.right {
  width: 50%;

  @include mobile {
    width: 100%;
  }
}

.right {
  position: relative;
  margin-top: size(180);

  &:after {
    content: '';
    position: absolute;
    top: 0px;
    right: -1px;
    width: 2px;
    height: 100%;
    background-color: $gray900;

    @include mobile {
      display: none;
    }
  }

  @include mobile {
    margin-top: 0;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  padding: size($spacing32) size($spacing32) size($spacing64);
  background-color: $gray900;
  gap: size($spacing32);

  @include mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: size($spacing48) size($spacing12) size($spacing64);
    gap: size($spacing12);
  }
}

.item {
  @include mobile {
    width: 100%;
  }
}

.footer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.button {
  padding-top: size(104);
  padding-bottom: size(24);
  background-color: $gray900;

  @include mobile {
    padding-top: size(58);
    padding-bottom: size(10);
  }
}
